*{
    margin: 0px;    
    padding: 0px;
}

/*shared CSS*/
.btn-primary{
    margin-top: 32px;
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: white;
    font-family: Lato;
    font-size: 15px;
}


header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgba(229, 84, 115, 0.10);
   
}
.header-text{
    margin-left: 150px;
}

.header-image{
    margin-right: 150px;
}

header>.header-text>h1{
   
    font-family: Lato;
    font-size: 50px;
    font-style: bold;
    font-weight: 800;
    line-height: normal;
}

header>.header-text>h5{
    margin-top: 32px;
    color: #27272799;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: 30px;
}

.title{
    margin-top: 150px;
}
.title-text{
    font-size: 35px;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

.small-text{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.rectangle{
    width: 380px;
    height: 450px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom: 150px;


}

.rectangles{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rectangle2{
    background-color: rgba(5, 151, 160, 0.15);
}

.rectangle3{
    background-color: rgba(71, 125, 17, 0.15);
}

.align{
    height: 75%;
    margin: 110px 76px 0px 76px;
   
}

.align2{
    height: 75%;
    margin: 110px 76px 0px 45px;
}

.Em{
    margin-top: 20px;
    margin-bottom: 30px;
}

.bonus-section2{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin: auto;
    width: 1200px;
    height: 250px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    
}

.bonus-section2 h3{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;

}

.pic{
    margin-top: 90px;
    
}
.center-text{
    text-align: center;
}
.sale{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    padding-top: 100px;
    padding-bottom: 100px;
}

.instagram{
    margin-top: 120px;
    padding-bottom: 200px;
    
}

.ins-img1{
    height: 50%;
    width: 50%;   
}

.ins-image{
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;

}

.deals{
    height: 400px;
    width: 80%;
    background-image: url("./images/Rectangle\ 9.png");
    margin: auto;
    overflow: hidden;
    margin-bottom: 150px;
}

.deal-text{
    margin-top: 80px;
}
.deal-input{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.deal-input input[type="text"]{
    width: 600px;
    height: 40px;
    border-radius: 8px;
    border: 0px;
    margin-top: ;
    margin-right: 10px;
    padding: 10px;
}

.subs-btn{
    margin-bottom: 32px;
}

.footer-text{
    width: 100%;
    height:300px;
    background-color: black;
    padding-top: 100px;
    
}
.footerh5{
    font-style: normal;
    font-weight: 100;
    line-height: 30px;
    font-size: 12px;
}
.footerh6{
    font-style: normal;
    font-weight: 100;
    line-height: 30px;
    font-size: 10px;
}

.btn-primary:hover{
    background-color: #8b0522;
}
.rectangle:hover{
    border: 2px solid rgb(130, 130, 214);
}